extends layout

block content
    div.container
        h1=title
        ul.errors
            if errors
                each error, i in errors
                    li.alert.alert-danger #{error.msg}
        form(method='post', action='/posts/add', enctype="multipart/form-data")
            .form-group
                label Title:
                input.form-control(name='title', type='text')
            .form-group
                label Category
                select.form-control(name='category')
                    if categories
                        for category in categories
                            option(value='#{category.category}') #{category.category}
            .form-group
                label Post
                textarea.form-control(name='post', id='post')
            .form-group
                label Main Image:
                input.form-control(name='mainimage', type='file')
            .form-group
                label Author:
                select.form-control(name='author')
                    if authors
                        for author in authors
                            option(value='#{author.author}') #{author.author}
            input.btn.btn-default(name='submit',type='submit',value='Save')
            script(src='/ckeditor/ckeditor.js')
            script
                | ClassicEditor.create( document.querySelector( '#post' ) ).then( editor => {console.log( editor );} ).catch( error => {console.error( error );} );

    include footer