extends layout

block content
    main
        section
            .blog-page
                .container-fluid
                    .container
                        .row
                            .col-xs-12
                                h1 Welcome to our blog
                            .row
                                .col-xs-12
                                    .category-list
                                        .category-list
                                            if categories
                                                for category in categories
                                                    ul
                                                        li
                                                            a(href='posts/sort/#{category.category}')=category.category
                            .row.newsletter
                                .col-xs-12
                                    .newsletter-content.hidden-sm.hidden-xs
                                        form
                                            input(type='email', placeholder='Enter your request')
                                            a.btn-biger(href='#') Search
                                    .social-icons.visible-sm.visible-xs
                                        ul
                                            li
                                                a(href='#')
                                                    i.fa.fa-facebook-square(aria-hidden='true')
                                            li
                                                a(href='#')
                                                    i.fa.fa-twitter-square(aria-hidden='true')
                                            li
                                                a(href='#')
                                                    i.fa.fa-pinterest-square(aria-hidden='true')
                                            li
                                                a(href='#')
                                                    i.fa.fa-google-plus-square(aria-hidden='true')

                        .row.blog-content
                            .col-lg-9.col-md-12
                                .row
                                    if posts
                                        for post in posts
                                            .col-md-2.col-sm-2.col-lg-2.hidden-xs.left-blok
                                                .day #{moment(post.date).format("DD")}
                                                .month #{moment(post.date).format("MMM")}
                                                .reviews 120 reviews
                                                .comments 3 comments
                                                .share Share  article
                                            .col-md-10.col-lg-10.col-sm-10.middle-block
                                                if categories
                                                    for category in categories
                                                        .blog-tags
                                                            i.fa.fa-tags(aria-hidden='true')=post.category
                                                img(src='uploads/#{post.mainimage}', alt='')
                                                span.posted   Posted in
                                                    a(href='posts/sort/#{post.category}')  #{post.category}
                                                    span  by #{post.author}
                                                .row.visible-xs.left-blok
                                                    .col-xs-6
                                                        .day #{moment(post.date).format("DD")}
                                                        .month #{moment(post.date).format("MMM")}
                                                    .col-xs-6
                                                        .reviews 120 reviews
                                                        .comments 3 comments
                                                        .share Share  article
                                                h4=post.title
                                                p!=blogPreview(post.post, 800)

                                                a.btn-transparent(href='posts/show/#{post.id}') Continue
                                        else
                                            h3 Posts not found
                            .col-lg-3.visible-lg
                                .row
                                    .col-lg-12.visible-lg.right-block
                                        aside
                                            .sidebar-lines
                                                .sidebar-header About
                                                .img
                                                    img(src='/images/blog-img-sidebar.png', alt='')
                                                p
                                                    | It is a long established fact that a reader will be distracted by the reale content of pag when looking at its layout. The point
                                                    | of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                                                    | making it look like readable English.
                                            .sidebar-lines
                                                .sidebar-header Social
                                                .socail-icons
                                                    .social-up
                                                        .facebook
                                                            a(href='#')
                                                                i.fa.fa-facebook-square(aria-hidden='true')
                                                            span facebook
                                                        .twitter
                                                            a(href='#')
                                                                i.fa.fa-twitter-square(aria-hidden='true')
                                                            span TWITTER
                                                    .socail-icons
                                                        .social-up
                                                            .pinterest
                                                                a(href='#')
                                                                    i.fa.fa-pinterest-square(aria-hidden='true')
                                                                span pinterest
                                                            .google
                                                                a(href='#')
                                                                    i.fa.fa-google-plus-square(aria-hidden='true')
                                                                span google
                                            .sidebar-lines
                                                .one-post
                                                    .sidebar-header Posts
                                                    .img
                                                        img(src='/images/post-img.png', alt='')
                                                    a.btn-transparent(href='#') Study
                                                    i.fa.fa-eye(aria-hidden='true')
                                                    i.fa.fa-comment-o(aria-hidden='true')
                                                    h4 Study or relaks on sea?
                                                    p
                                                        | It is a long established fact that a reader will be distracted by the  letters, as opposed to
                                                        | using 'Content here, content here', making it look like readable English.
                                                .one-post
                                                    .img
                                                        img(src='../images/post-img.png', alt='')
                                                    a.btn-transparent(href='#') Study
                                                    i.fa.fa-eye(aria-hidden='true')
                                                    i.fa.fa-comment-o(aria-hidden='true')
                                                    h4 Study or relaks on sea?
                                                    p
                                                        | It is a long established fact that a reader will be distracted by the  letters, as opposed to
                                                        | using 'Content here, content here', making it look like readable English.
                                                .one-post
                                                    .img
                                                        img(src='/images/post-img.png', alt='')
                                                    a.btn-transparent(href='#') Study
                                                    i.fa.fa-eye(aria-hidden='true')
                                                    i.fa.fa-comment-o(aria-hidden='true')
                                                    h4 Study or relaks on sea?
                                                    p
                                                        | It is a long established fact that a reader will be distracted by the  letters, as opposed to
                                                        | using 'Content here, content here', making it look like readable English.


    include footer